*{
    color:white;
}

body {
    background-image: url("https://look.com.ua/pic/201210/1920x1200/look.com.ua-50213.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defaultCanvas0 {
    border: 2px solid white;
}

#centerImage {
    /*background-image: url("");*/
    background-repeat: no-repeat;
    width: 539px;
    height: 304px;
    background-size: cover;
}


div{
    margin-left:25px;
    margin-right:25px;
    text-align: left;
}

table, tr, td{
    background-color: green;
    border: solid 1px black;
    border-collapse: collapse;
    padding:5px;
    margin-top:10px;
}